.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
}

.ipl-logo {
  width: 30px;
  background-size: cover;
  height: 30px;
}

.ipl-heading {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Bree Serif';
  color: #fff;
  padding: 0px 10px;
}

.teams-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}
